{% extends 'mybank/base/layout_auth.html' %}
{% load static %}

{% block title %}
    Reset Request Done
{% endblock %}

{% block body %}


<div class="container d-flex justify-content-center align-items-center min-vh-100"> 
    <div class="card shadow-lg" style="max-width: 400px; width: 100%;">
        <div class="card-body">                      
          <!-- Logo Section -->
          <div class="text-center mb-4">
            <a href="{% url 'index' %}" class="text-decoration-none">
                <img src="{% static 'mybank/images/logo.png' %}" alt="My Bank Logo" style="height: 50px;">
                <h4 class="mt-2 mb-0 font-weight-normal">MyBank</h4>
            </a>
        </div>
    <div class="text-center mb-4">
      <h2>Password Reset Request Sent</h2>
      <p>We've sent you an email with instructions to reset your password. Please check your email.</p>
    </div>
</div>
</div> 
</div> 

{% endblock %}


