<!-- templates/mybank/components/footer.html -->
<!-- Footer Bottom Section -->

{% load static %}
<hr>
<div class="d-block text-center mt-4">
    <div>
        <ul class="list-unstyled d-flex flex-wrap justify-content-center mb-4">
            <li class="mx-2 mb-2"><a href="#" class="footer-link">Cookies</a></li>
            <li class="mx-2 mb-2"><a href="#" class="footer-link">Privacy Policy</a></li>
            <li class="mx-2 mb-2"><a href="#" class="footer-link">Terms</a></li>
            <li class="mx-2 mb-2"><a href="#" class="footer-link">Help</a></li>
        </ul>
    </div>
    <div class="m-4">
        &copy; myBank 2024 <br>
        CS50W Final Project by 
        <a href="https://melissadeleon.com" target="_blank" class="footer-link">Melissa De Leon</a>
    </div>
</div>